body {
    margin: 0;
    background-color: #CEE5D0;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    margin-top: 50px auto;
    color: #1E5128;
    font-family: 'Merienda One', cursive;
    font-size: 3rem;
    font-weight: lighter;
}

h2 {
    background-color: #87A8A4;
    font-size: 2.5rem;
    color: #D3E4CD;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 5px;
}

p {
    line-height: 2;
    font-weight: normal;
}

hr {
    border: dotted 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
    color: #87A8A4;
}

a {
    color: #D3E4CD;
    font-family: 'Festive', cursive;
    margin: 10px 20px;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    color: black;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    padding: 15px;
}

.web-pic {
    width: 30%;
    float: left;
    margin-right: 30px;
}

.scrape-pic {
    width: 30%;
    float: right;
    margin-left: 30px;
}

.intro {
    width: 60%;
    margin: auto;
}
.myPhoto{
    border-radius: 100%;
    height:230px; 
    width:250px;   
}
.top-container {
    background-color: #CEE5D0;
    padding-top: 100px;
    position: relative;
    margin-bottom: 100px;
}

.middle-container {
    margin: 100px 0px;
}

.bottom-container {
    background-color: #87A8A4;
    padding: 50px 0 20px;
}

.contact-me {
    width: 40%;
    margin: 20px auto;
}

.cld1 {
    position: absolute;
    right: 300px;
    top: 50px;
}

.cld2 {
    position: absolute;
    left: 350px;
    bottom: 300px;
}

.btn {
    text-shadow: 1px 1px 6px #000000;
    display: inline-block;
    text-align: center;
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    font-weight: 100;
    background-color: #87A8A4;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    text-transform: lowercase;
}

.btn:hover {
    background: #379C5B;
    background-image: -webkit-linear-gradient(top, #379C5B, #FFE558);
    background-image: -moz-linear-gradient(top, #379C5B, #FFE558);
    background-image: -ms-linear-gradient(top, #379C5B, #FFE558);
    background-image: -o-linear-gradient(top, #379C5B, #FFE558);
    background-image: -webkit-gradient(to bottom, #379C5B, #FFE558);
    text-decoration: none;
    text-transform: uppercase;
    font-family: Open Sans;
}

.copyright {
    font-size: 0.75 rem;
    padding: 20px 0px;
}
